.photos {
    height: 100%;
    width: 100%;
    
}
img {
    height: 100%;
    width: 100%; 
   
}

.photo{
    height: 200px;
    width: 100%;
    border: 1px solid black;
    transition: .8s;
    filter: brightness(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.active {
    filter: brightness(120%);
   transition: .8s;
   height: 205px;
   color: rgb(49, 29, 119);
    
}


nav {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    font-family: Arial;

}

nav p {
    margin-left: 20px;
     
}
#p1 {
    background-image: url("/src/img/photo1.jpg");
    
}
.photo p {
    color: rgba(29, 119, 107, 0.822);
    font-size: 150px;
    font-family: Arial;
    font-weight: 400;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

   
}
#p2 {
    background-image: url("/src/img/photo2.jpg");
}
#p3 {
    background-image: url("/src/img/photo3.jpg");
    
}
#logo {
    height: 100%;
    width: 150px;
}
body {
    background-color:rgb(153, 136, 147)
}
#kontakt {
    margin-left: 50%;
    margin-top: 10%;
}